<!-- app/views/notes/index.html.erb -->
<div class="head-container">
  <h1>ADD A NOTE</h1>
</div>



<!-- Form to create new notes -->
<div class="input-card">
  <%= form_with(model: @new_note, url: notes_path, local: true) do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
    <div>
      <%= form.submit 'Save' %>
    </div>
  <% end %>
</div>

<!-- Display existing notes -->
<% @notes.each do |note| %>
  <div>
    <h3><%= note.name %></h3>
    <p><%= note.description %></p>
    <%= button_to 'Delete', note_path(note), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
