<!-- app/views/notes/index.html.erb -->
<div class="head-container">
  <h1>ADD A NOTE</h1>
</div>



<!-- Form to create new notes -->
<div class="input-card">
  <%= form_with(model: @new_note, url: notes_path, local: true) do |form| %>
    <div>
      <%= form.label :name, "Title" %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
    <div>
      <%= form.submit 'Save' %>
    </div>
  <% end %>
</div>

<!-- Display existing notes -->
<div class="note-desktop-container" data-controller="sortable">
  <% @notes.each do |note| %>
    <div class="note-container <%= 'first-note' if note == @notes.first %>">
      <div class="note-left">
        <h3 class="note-title"><%= note.name %></h3>
        <p><%= note.description %></p>
      </div>
      <div class="note-right">
        <%= button_to note_path(note), method: :delete, data: { confirm: 'Are you sure?' }, class:"delete-btn" do %>
          <i class="fa-solid fa-trash" style="color: #202122;font-size: 24px;"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
